body {
  background-color: rgb(248, 249, 249);
}
img {
  height: 250px;
  object-fit: contain;
}
.detail-image {
  height: 300px;
}
.hover {
  cursor: pointer;
}
.flex-header {
  display: flex;
  justify-content: space-between;
  color: white;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}
