body {
  background-color: rgb(248, 249, 249);
}
img {
  height: 250px;
  object-fit: contain;
}
.detail-image {
  height: 300px;
}
.hover {
  cursor: pointer;
}
.flex-header {
  display: flex;
  justify-content: space-between;
  color: white;
}
