body {
  background-color: rgb(248, 249, 249);
}
.header-row {
  background-color: rgb(52, 58, 64);
  padding: 7px
}
h3 {
  color: white;
}
.card {
  width: 21rem;
  height: 450px;
  margin: 10px 0;
}
img {
  height: 225px;
  object-fit: contain;
}
